<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scoreboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <a href="{{ url_for('login') }}">Home</a>
            <a href="{{ url_for('scoreboard') }}">Scoreboard</a>
            <a href="{{ url_for('customize') }}">Customize</a>
        </div>

        <div class="main-box">
            <a href="{{ url_for('login') }}" class="back-to-login">Back to Login</a>
            <h2 class="small-header">Scoreboard</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Play Date</th>
                        <th>Correct Answers</th>
                        <th>Num Questions</th>
                        <th>Ratio %</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                    <tr>
                        <td>{{ result['username'] }}</td>
                        <td>{{ result['playdate'] }}</td>
                        <td>{{ result['correct'] }}</td>
                        <td>{{ result['questions'] }}</td>
                        <td>{{ result['ratio'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>


